<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, inital-scale=1.0">
  <title>My Blog - Homepage</title>
  <!--link the external css file-->
  <link rel="stylesheet" href="./public/style.css">
</head>

<body>
  <header class="display-flex justify-space-between align-center p-2">
    <h1><a href="/">My Blog</a></h1>
    <nav>
      <ul class="flex">
        <li><a href="/">Home</a></li>
        {{#if user}}
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/logout">Logout</a></li>
        {{else}}
        <li><a href="/login">Login/Sign Up</a></li>
        {{/if}}
      </ul>
    </nav>
  </header>

  <main class="container p-4">
    {{#if posts}}
      <div class="post-list">
        {{#each posts}}
          <article class="post">
            <h2><a href="/posts/{{id}}">{{title}}</a></h2>
            <p>Created by {{author}} on {{date}}</p>
          </article>
        {{/each}}
      </div>
    {{else}}
      <p>No blog posts yet.</p>
    {{/if}}
  </main>